* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-area {
    display: none;
    text-emphasis: center;
}

img {
    height: 150px;
    width: 150px;
}